.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;

	&__contaier {
		display: flex;
		min-height: 104px;
		align-items: center;
		@media (max-width: 479px) {
			min-height: 70px;
		}
	}

	&__logo {
		color: #252b42;
		font-size: 24px;
		font-weight: 700;
		line-height: 133.333%;
		letter-spacing: 0.1px;
	}

	&__menu {
		margin-left: 132px;

		@media (max-width: 992px) {
			margin-left: 80px;
		}
		@media (max-width: 767px) {
			margin-left: 40px;
		}
		@media (max-width: 479px) {
			margin-left: 20px;
		}
	}

	.menu {
		padding: 5px 0;
		&__list {
			display: flex;
			flex-wrap: wrap;
		}

		&__item {
			&:not(:last-child) {
				margin: 0 21px 0 0;
			}

			& a {
				color: #737373;
				font-size: 14px;
				font-weight: 600;
				line-height: 171%;
				letter-spacing: 0.2px;
				@media (max-width: 479px) {
					font-size: 18px;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
